<app-main-header></app-main-header>

<!-- <div class="static-slider-head" 
style="background-image: url(assets/images/landingpage/banner-bg.jpg)">
  <div class="container">
    Row 
    <div class="row justify-content-center">
      Column
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">Angular Dashboard</h1>
        <h5 class="subtitle op-5">
        </h5>
      </div>
      Column
    </div>
  </div>
</div> -->

<!-- Row  -->


<div class="main-wrapper pt-5">
  <div class="row" cdkDropList [cdkDropListData]="chartListOne" (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let item of chartListOne">
      <div class="col-md-6">
        <div class="card text-center" *ngIf="item==='chart1'" cdkDrag >
          <div class="example-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          <app-pie-char></app-pie-char>
        </div>
        </div>
        <div class="card text-center" *ngIf="item==='chart2'" cdkDrag>
          <div class="example-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          <app-bar-chart></app-bar-chart>
          </div>
        </div>
        <div class="card text-center" *ngIf="item==='chart3'" cdkDrag>
          <div class="example-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          <app-multi-line-chart></app-multi-line-chart>
        </div>
        </div>
        <div class="card text-center" *ngIf="item==='chart4'" cdkDrag>
          <div class="example-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          <app-stacked-chart></app-stacked-chart>
        </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="item==='chart5'">
        <div class="card text-center sizing" *ngIf="item==='chart5'" cdkDrag>
          <div class="example-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          <app-donut-chart></app-donut-chart>
        </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- <div class="main-banner">
    <div class="card text-center">
      <app-multi-line-chart></app-multi-line-chart>
    </div>
    <div class="card text-center">
      <app-stacked-chart></app-stacked-chart>
    </div>
  </div>
  <div class="main-banner">
    <div class="card text-center">

      <app-donut-chart></app-donut-chart>

    </div>

  </div> -->
</div>


<app-main-footer></app-main-footer>