.inner-row {
    margin-left: -76px;
    margin-right: -76px;
}

.news-block {
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 25%);
    border-radius: 10px;
    cursor: pointer;
}

.news-image {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.news-contnet {
    padding: 5px 10px 10px 10px;
}

.news-title {
    font-weight: 600;
}

.date {
    font-size: 14px;
    color: #677788;
    margin: 8px 10px
}

.date i {
    margin-right: 8px;
}

.news-des {
    font-size: 14px;
}