<app-main-header></app-main-header>
<div class="banner-innerpage" style="background-image: url(assets/images/landingpage/banner-bg2.jpg)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
                <h1 class="title">CONTACT US</h1>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>

<!-- ============================================================================== -->
<br>
<br>

<form class="forms">
<div class="mb-3 row">
    <label for="typeahead-config" style="color: black;" class="col-xs-3 col-sm-auto col-form-label">Full Name:</label>
    <div class="col">
        <input id="typeahead-config" type="text" class="form-control" />
    </div>
</div>

<div class="mb-3 row">
    <label for="typeahead-config" style="color: black;" class="col-xs-3 col-sm-auto col-form-label">Email ID:</label>
    <div class="col">
        <input id="typeahead-config" type="text" class="form-control" />
    </div>
</div>

<div class="mb-3 row">
    <label for="typeahead-config" style="color: black;" class="col-xs-3 col-sm-auto col-form-label">Message:</label>
    <div class="col">
        <input id="typeahead-config" type="text" class="form-control" />
    </div>
</div>

<div class="mb-3 row">
<input type="submit" class="fadeIn fourth" value="Submit">
</div>
</form>