<div class="static-slider-head" style="background-image: url(assets/images/landingpage/banner-bg.jpg)">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">Angular Dashboard</h1>
        <h5 class="subtitle op-5">
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->

  <div class="row" style="width: 90%;">
    <div class="col-sm-4">
      <app-pie-char></app-pie-char>
    </div>

    <div class="col-sm-4">
      <app-bar-chart></app-bar-chart>
    </div>

    <div class="col-sm-4">
      <app-multi-line-chart></app-multi-line-chart>
    </div>

    <div  class="col-sm-4">
      <app-stacked-chart></app-stacked-chart>
    </div>

    <div class="col-sm-4">
      <app-donut-chart></app-donut-chart>
    </div>
  </div>
