.main-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card {
    width: 100%;
    height: auto;
    background-color: #e1e2e4;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.main-wrapper {
    margin-top: 65px;
}

@media screen and (max-width: 768px) {
    .main-banner {
        flex-wrap: wrap;
    }
    .card {
        margin-left: 0px;
        margin-right: 0px;
    }

    .main-wrapper {
        margin-top: 25px;
    }
}
