<app-main-header></app-main-header>


<div class="partner">
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
            <div class="d-flex">
                <button class="btn btn-success" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">+create Partner</button>
            </div>
        </div>
    </nav>
    <table class="table table-bordered mt-5" style="width: 80%;margin-left: 80px;margin-right: 0px;">
        <thead>
            <tr>
                <th scope="col">Company name</th>
                <th scope="col">Domain</th>
                <th scope="col">ownedBy</th>
                <th scope="col">Mobile</th>
                <th scope="col">Add on</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of Data">
                <!-- <td>{{row.id}}</td> -->
                <td>{{row.companyName}}</td>
                <td>{{row.domain}}</td>
                <td>{{row.ownedBy}}</td>
                <td>{{row.mobile}}</td>
                <td>{{row.addOn}}</td>
                <td>
                    <button class="btn btn-info" type="button" (click)="onEdit(row)" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Edit</button>
                    <button class="btn btn-danger mx-3" (click)="delete(row)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formValue">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Company Name</label>
                            <input type="text" class="form-control" formControlName="companyName"
                                id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Domain</label>
                            <input type="text" class="form-control" formControlName="domain" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">ownedBy </label>
                            <input type="text" class="form-control" formControlName="ownedBy"
                                id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mobile</label>
                            <input type="text" class="form-control" formControlName="mobile" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Add On</label>
                            <textarea type="text" class="form-control" formControlName="addOn" id="exampleInputPassword1"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="postDetails()" class="btn btn-primary">Add</button>
                    <button type="button" id="cancel" (click)="updateDetails()" class="btn btn-primary">update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-main-footer></app-main-footer>