<app-main-header></app-main-header>
<div class="banner-innerpage" style="background-image: url(assets/images/landingpage/banner-bg2.jpg); margin-top: 80px;">
</div>
<div class="container">
    <span>   
       <h4>Employee details:</h4>
    </span>
       <div class="main" (click)="dropdownopen()" >
         <span>  <img src="{{selectedUser.imgSrc}}" [alt]="selectedUser.name">{{selectedUser.name}}
         </span>
       </div>
       <div class="content" *ngIf="contentdropdown">
           <ul>
               <li *ngFor="let arr of employeearray" (click)="changecode(arr)">
                   <img src="{{arr.imgSrc}}" alt="{{arr.name}}"/>
                   {{arr.name}}
               </li>
           </ul>
       </div>
   </div>

<div class="header">
    <div class="title" >
    <h1>{{selectedUser.name}}</h1>
    <div class="img" style="display:flex; justify-content: space-evenly; align-items: centers;">
    <img src="{{selectedUser.imgSrc}}" [alt]="selectedUser.name" height="300px" width="300px" border-radius="10px">
    <p>{{selectedUser.content}}</p>
    </div>
    </div>
</div>



     
































    <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Employee list
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      <!-- </div> -->


<app-main-footer></app-main-footer>

