<div class="wrapper fadeInDown">
  <div id="formContent" style="margin-top: 60px ;">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first" style="padding-top: 20px ;">
      <h2>User Registration</h2>
      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" [(ngModel)]="email" name="email" placeholder="Email">
      <input type="text" id="login" class="fadeIn second" [(ngModel)]="userName" name="userName" placeholder="Username">
      <input type="password" id="password" class="fadeIn third" [(ngModel)]="password" name="password"
        placeholder="Password">
      <input type="password" id="password" class="fadeIn third" [(ngModel)]="cPassword" name="cPassword"
        placeholder="Confirm Password">
      <input type="submit" class="fadeIn fourth" value="Signup" (click)="signup()">
    </form>
  </div>
</div>

<div style="display:flex;margin:auto;margin-left: 34%;">
  <h6 style="margin-top: 25px;">Already have an account </h6><input type="submit" class="fadeIn fourth" value="Login"
    style="background:white;color:black;border: 1px solid blue;" (click)="login()">
</div>