<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items mb-0">
            <li [routerLinkActive]="['active']"><a class="" routerLink="/dashboard">
                    Dashboard
                </a></li>
            <li routerLinkActive="active"> <a class="" routerLink="/blog">
                    Blog
                </a></li>
            <!-- <li routerLinkActive="active"> <a class="" routerLink="/about">
                    About
                </a></li> -->
                <li routerLinkActive="active"> <a class="" routerLink="/about-us">
                    About Us
                </a></li>
                <li routerLinkActive="active"><a class="" routerLink="/contact">
                    Contact
                </a></li>
                <li routerLinkActive="active"><a class="" routerLink="/partner">
                    partner
                </a></li>    


            <li class="nav-item dropdown">
                <a class="nav-link   avatar link-nav" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user" style="font-size: 24px;" aria-hidden="true"></i>
                  </a>
                
                <ul class="dropdown-menu inner-logout" aria-labelledby="navbarScrollingDropdown">
                  <li class="ml-0 logout-text"><a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Log Out</a></li>
                </ul>
              </li>
        </ul>
        
        <h1 class="logo">Blogs</h1>
    </div>
</nav>